<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BankWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBranchController</servlet-name>
    <servlet-class>AddBranchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBranchController</servlet-name>
    <url-pattern>/AddBranchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCustomerController</servlet-name>
    <servlet-class>AddCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerController</servlet-name>
    <url-pattern>/AddCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCustomerPasswordController</servlet-name>
    <servlet-class>AddCustomerPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerPasswordController</servlet-name>
    <url-pattern>/AddCustomerPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAccountsForBranch</servlet-name>
    <servlet-class>GetAccountsForBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAccountsForBranch</servlet-name>
    <url-pattern>/GetAccountsForBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepositController</servlet-name>
    <servlet-class>DepositController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositController</servlet-name>
    <url-pattern>/DepositController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WithdrawController</servlet-name>
    <servlet-class>WithdrawController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawController</servlet-name>
    <url-pattern>/WithdrawController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransactionHistory</servlet-name>
    <servlet-class>TransactionHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionHistory</servlet-name>
    <url-pattern>/TransactionHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogoutController</servlet-name>
    <servlet-class>AdminLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutController</servlet-name>
    <url-pattern>/AdminLogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransferBetweenAccountsController</servlet-name>
    <servlet-class>TransferBetweenAccountsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferBetweenAccountsController</servlet-name>
    <url-pattern>/TransferBetweenAccountsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransferWithinBankController</servlet-name>
    <servlet-class>TransferWithinBankController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferWithinBankController</servlet-name>
    <url-pattern>/TransferWithinBankController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NEFTTransferController</servlet-name>
    <servlet-class>NEFTTransferController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NEFTTransferController</servlet-name>
    <url-pattern>/NEFTTransferController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBeneficiaryController</servlet-name>
    <servlet-class>AddBeneficiaryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBeneficiaryController</servlet-name>
    <url-pattern>/AddBeneficiaryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerLogoutController</servlet-name>
    <servlet-class>CustomerLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogoutController</servlet-name>
    <url-pattern>/CustomerLogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AvailLoanController</servlet-name>
    <servlet-class>AvailLoanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailLoanController</servlet-name>
    <url-pattern>/AvailLoanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RepayLoanController</servlet-name>
    <servlet-class>RepayLoanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepayLoanController</servlet-name>
    <url-pattern>/RepayLoanController</url-pattern>
  </servlet-mapping>
  
  
  
  
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>AuthenticationFilter</filter-class>
  </filter>
  
 <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>